<div class="col-lg-12 col-sm-12">
    <h2>Protocol Master - New Protocol Revisions</h2>
    <hr>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputCustomer" class="col-sm-2 col-form-label text-left">Protocol No:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="protocol-no" placeholder="Enter Number">
            </div>
            <div class="col-sm-1">
                <input type="text" class="form-control" name="" value="49" disabled="">
            </div>
            <label for="inputCustomer" class="col-sm-2 control-label text-left">Protocol Name:</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="" placeholder="Name">
            </div>
        </div>        
    </form>
    <hr>
    <app-tabs-protocol-master></app-tabs-protocol-master>
</div>