<div class="container">
    <h2>7.5.3.SP-3: Shipment Portal Request Screen </h2>
    <div class="shipment-form">
        <div class="form-header form-header-purple">
            <h4>Shipment Request</h4>            
        </div>
        
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputCustomer" class="col-sm-2 control-label">Customer</label>
            <div class="col-sm-3">
                <select id="inputCustomer" class="form-control">
                  <option>Customer</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputID" class="col-sm-2 control-label">Shipment ID</label>
            <div class="col-sm-2">
              <input type="text" class="form-control" id="inputID" placeholder="Shipment ID">
            </div>
            <div class="col-sm-1">
                <button class="btn btn-catalent btn-purple-light">Generate</button>
            </div>
            <div class="col-sm-5">
                <label for="inputPassword3" class="col-sm-4 control-label">Request Date</label>
                <div class="col-sm-5">
                    <input type="date" class="form-control" name="">
                </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputCustomer" class="col-sm-2 control-label">Ship To</label>
            <div class="col-sm-2">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Clinical Site
                </label>
            </div>
            <div class="col-sm-2">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Non-Clinical Site
                </label>
            </div>
          </div>
          <div class="form-group">
            <label for="inputCustomer" class="col-sm-2 control-label">Shipment Type</label>
            <div class="col-sm-2">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option3"> Initial
                </label>
            </div>
            <div class="col-sm-2">
                <label class="radio-inline">
                  <input type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option4"> Reshipment
                </label>
            </div>
          </div>
          
        </form>
    </div>

    <div class="shipment-form second-form">
        <div class="form-header form-header-purple">
            <h4>Requested Items</h4>            
        </div>
        <div class="col-md-12">
            <button class="btn btn-catalent btn-purple-light">Add Item</button>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="scroll-table">
                    <table  class="table table-striped">
                        <thead>
                            <tr>
                                <th>Material_Description_1</th>
                                <th>
                                    Material_Description_2
                                </th>
                                <th>
                                    item_number
                                </th>
                                <th>
                                    customer_lot
                                </th>                
                                <th>
                                    supplier_lot
                                </th>
                                <th>
                                    lot_number
                                </th>
                                <th>
                                    memo_lot_2
                                </th>
                                <th>
                                    memo_lot_3
                                </th>
                                <th>
                                    expiry_date
                                </th>
                                <th>
                                    quality_status
                                </th>
                                <th>
                                    quantity
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor= "let s of shipments;  let i=index">
                                <ng-template [ngIf]="i<5">
                                    <td>
                                        {{s.Material_Description_1}}
                                    </td>
                                    <td>
                                        {{s.Material_Description_2}}
                                    </td>
                                    <td>
                                        {{s.item_number}}
                                    </td>
                                    <td>
                                        {{s.customer_lot}}
                                    </td>
                                    <td>
                                        {{s.supplier_lot}}
                                    </td>
                                    <td>
                                        {{s.lot_number}}
                                    </td>
                                    <td>
                                        {{s.memo_lot_2}}
                                    </td>
                                    <td>
                                        {{s.memo_lot_3}}
                                    </td>
                                    <td>
                                        {{s.expiry_date}}
                                    </td>                
                                    <td>
                                        {{s.quality_status}}
                                    </td>
                                    <td>
                                        {{s.quantity}}
                                    </td>
                                    
                                </ng-template>
                                
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Total</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4>
                Requested Med IDs
            </h4>
            <hr>
        </div>        
        
        <div class="requested-med-table">
            <table  class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            lot_number
                        </th>
                        
                        <th>
                            Med ID
                        </th>
                        <th>
                            Sequence
                        </th>
                        <th>
                            Material_Description_1
                        </th>
                        <th>
                            Material_Description_2
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor= "let s of shipments;  let i=index">
                        <ng-template [ngIf]="i<3">
                            <td>
                                {{s.lot_number}}
                            </td>
                            <td>
                                {{s.item_number}}
                            </td>
                            <td>
                                {{i+1}}
                            </td>
                            <td>
                                {{s.Material_Description_1}}
                            </td>
                            <td>
                                {{s.Material_Description_2}}
                            </td>
                        </ng-template>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="shipment-form third-form">
        <div class="form-header form-header-purple">
            <h4>Protocol</h4>            
        </div>        
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="checkbox-inline col-sm-4">
                    <input type="checkbox" id="inlineCheckbox1" value="option1"> Include all contract Numbers
                </label>
            </div>
            <div class="form-group">
                <label for="contract" class="col-sm-2 control-label">Contract</label>
                <div class="col-sm-4">
                    <select id="inputCustomer" class="form-control">
                        <option>Contract Number</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option1"> Confirm selected Contract
                    </label>
                </div>
            </div>    
            <div class="form-group">
                <div class="col-sm-2"></div>
                <label class="checkbox-inline col-sm-4">
                    <input type="checkbox" id="inlineCheckbox3" value="option1"> Temperature recording device required
                </label>
            </div>
            <div class="form-group">
                <label for="contract" class="col-sm-2 control-label">Study</label>
                <div class="col-sm-4">
                    <select id="inputCustomer" class="form-control">
                        <option>Study</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox2" value="option1"> Confirm selected Study
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label for="contract" class="col-sm-2 control-label">Clinical Site ID</label>
                <div class="col-sm-4">
                    <select id="inputCustomer" class="form-control">
                        <option>SiteID</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-catalent btn-purple-light">Find</button>
                    <button class="btn btn-catalent btn-purple-light">New Address</button>
                </div>
            </div>
            <div class="form-group">
                <label for="contract" class="col-sm-2 control-label">Address</label>
                <div class="col-sm-4">
                    <textarea class="form-control" placeholder="Some Address">
                        
                    </textarea>
                </div>
                
            </div>
        </form>
    </div>
    
    <div class="submit-request text-center">
        <button uiSref="select-lot" class="btn btn-catalent btn-purple-light">Submit Request</button>
    </div>

</div>