<div class="col-lg-12">
    <h2>7.5.2.SP-2: Shipment Portal List Screen</h2>
    <hr>
    <button class="btn btn-primary" uiSref="shipment-request">New Shipping Request</button>
    <hr>
    <div class="form-group">        
        <input type="text" class="form-control" #term placeholder="Search Table" (keyup)="0">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ship Number</th>
                <th>
                    Contract No.
                </th>
                <th>
                    Customer
                </th>
                <th>
                    Protocol
                </th>                
                <th>
                    Site Number
                </th>
                <th>
                    Request Date
                </th>
                <th>
                    Requested Arrival Date
                </th>
                <th>
                    Status
                </th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor= "let item of ( items | searchFilter: term.value )">
                <td>
                    {{item.ship_no}}
                </td>
                <td>
                    {{item.contract_no}}
                </td>
                <td>
                    {{item.customer}}
                </td>
                <td>
                    PROT_1
                </td>
                <td>
                    {{item.site_no}}
                </td>
                <td>
                    {{item.request_date}}
                </td>
                <td>
                    {{item.requested_arrival_date}}
                </td>
                <td>
                    {{item.status}}
                </td>                
                <td>
                    <button class="btn btn-default" (click)="openModal(newShipReq)">
                        Create New Form
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <app-ang-datatables></app-ang-datatables>   -->
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>

<ng-template #newShipReq>
    <app-new-ship-request [modalRefChild]='modalRef'></app-new-ship-request>    
</ng-template>