<div class="tab-set">
  <tabset class="tab-set">
    <tab heading="Header">
        <div class="row header-form">
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">Sold To:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="protocol-no" placeholder="Enter Number">
                    </div>
                    <div class="col-sm-3 col-form-label">
                        <i>VERSATIS, INC.</i>
                    </div>                        
                </div>
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">Customer Sponsor:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="protocol-no" placeholder="Enter Number">
                    </div>
                    <div class="col-sm-3 col-form-label">
                        <i>VERSATIS</i>
                    </div>                        
                </div>  
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">ETO Project No:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="protocol-no" placeholder="">
                    </div>                                          
                </div> 
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">JOB/EU:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="protocol-no" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">Branch/Plant:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="protocol-no" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">Storage Billing BU:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="protocol-no" placeholder="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">Project Origin:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="protocol-no" placeholder="Enter Number">
                    </div>
                    <div class="col-sm-3 col-form-label">
                        <i>Manufacturing & Packaging</i>
                    </div>                        
                </div>
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">Protocol status:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="protocol-no" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">Quote No:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="protocol-no" placeholder="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputCustomer" class="col-sm-3 control-label text-left">DEA Item Schedule:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="protocol-no" placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>2nd Item Number</th>
                    <th>
                        Description
                    </th>
                    <th>
                        Description Line 2
                    </th>
                    <th>
                        Lot Serial Number
                    </th>                
                    <th>
                        Sequence Number
                    </th>
                    <th>
                        Rand Status
                    </th>
                    <th>
                        Bar Code
                    </th>
                    <th>
                        Supplier Lot Number
                    </th>
                    <th>
                        Visit Number
                    </th>
                    <th>
                        Order Number
                    </th>
                    <th>
                        Or Ty
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>                
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                    <td>
                        <input type="text" class="form-control" name="">
                    </td>
                </tr>
                <tr *ngFor= "let item of list">
                    <td>
                        <input type="radio" name="set">
                    </td>
                    <td>
                        CLR-FG-9033103-001
                    </td>
                    <td>
                        VRS-317 US/AUS 1X VIAL KIT
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        4001
                    </td>
                    <td>
                        3001
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        4001
                    </td>
                    <td>
                        
                    </td>                
                    <td>
                        
                    </td>
                    <td>
                        0
                    </td>                
                    <td>
                        12312
                    </td>
                </tr>
                <!-- <tr >
                    <td>
                        <input type="radio" name="">
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        2
                    </td>
                    <td>
                        3
                    </td>
                    <td>
                        4
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        6
                    </td>
                    <td>
                        7
                    </td>
                    <td>
                        8
                    </td>                
                    <td>
                        
                    </td>
                </tr> -->
            </tbody>
            
        </table>        
    </tab>
    <tab heading="Special Instruction">Static content 1</tab>
    <tab heading="Dispatch Schedule">Static content 2</tab>
    <!-- <tab (select)="alertMe()">
      <template tabHeading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </template>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab> -->
  </tabset>
</div>