.back-btn-holder{
	margin-bottom: 20px;
}
.material-table{
	margin-top: 25px;
}
.select-range-box{
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 15px 7px;
}
.range-group{
	margin: 7px 0;
	display: inline-block;
}
.sel-med-id{
	.form-control{
		display: inline-block;
    	width: auto;
	}
	
}